<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lukiapp - login</title>
</head>

<body>
    <h1>¡Bienvenido a mi App!</h1>
    <h2>Iniciá sesión para ingresar...</h2>
    <form action="" method="post">
        <div>
            <label for="username">Tu nombre de usuario:</label>
            <input type="text" name="username" placeholder="Ingresa tu usuario" required>
        </div>
        <br>
        <div>
            <label for="password">Tu contraseña:</label>
            <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
        </div>
        <br>
        <div>
            <input type="submit" value="Ingresar">
        </div>
    </form>    
</body>

</html>